body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width:300px;
    box-shadow: 0px 8px 20px rgba(174,30,30,0.2);
}

.display {
    text-align: right;
    padding: 20px;
    background-color: #2b3cd2;
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background: #f0f0f0;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover{
    background-color: #ddd;
}
button.operator{
    background-color: #74bdda;
    color: white;
}
button.operator:hover{
    background-color: #74bdda;
}
button#equals{
    grid-column: span 4;
    background-color: #74bdda;
    color: white;
}
button#equals:hover{
    background-color: aquamarine;
}
button#clear{
    background-color: #ff4d4d;
    color: white;
}
button#clear:hover{
    background-color: #74bdda;
}